* {
    box-sizing: border-box;
}

.foto {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    max-width: 168px;
    grid-area: f;
    margin-bottom: 50px;
}

.profile__title {
    margin: 0;
    padding: 0;
    max-width: 373px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    grid-area: t;
    align-self: self-end;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.editar {
    display: block;
    margin: 0;
    padding: 3px 9px;
    border: 1px solid #ffffff;
    background-color: #000000;
    grid-area: e;
    align-self: flex-end;
    justify-self: start;
    position: relative;
    z-index: 0;
    cursor: pointer;

}

.editar__img {
    grid-area: e;
    margin: 0 auto;
    padding: 0;
    max-width: 10px;
    z-index: 1;
    cursor: pointer;

}

.acrescentar {
    display: flex;
    margin: 0;
    padding: 25px 75px;
    border: 2px solid #ffffff;
    background-color: #000000;
    height: 50px;
    grid-area: a;
    position: relative;
    z-index: 0;
    cursor: pointer;
    align-items: center;
    align-self: self-end;
}

.acrescentar__img {
    display: block;
    margin: 0 auto;
    padding: 0;
    grid-area: a;
    max-width: 22px;
    z-index: 1;
    top: 2px;
}

.profile__subtitle {
    margin: 0;
    padding: 0;
    padding-top: 16px;
    max-width: 415px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    grid-area: s;
    align-self: self-start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile {
    margin: 0 auto;
    padding: 0;
    max-width: 880px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas:
        "f t e a"
        "f s . .";
    align-items: center;
    gap: 0px;
}


/* ---------------------------------------320 px------------------------------- */

@media(max-width: 800px) {
    .foto {
        margin: 0 auto;
        margin-bottom: 26px;
    }

    .profile {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
            "f f"
            "t e"
            "s s"
            "a a";
        align-items: center;
        gap: 0px;
    }

    .profile__title {
        margin: 0 auto;
        padding: 26px 10px 14px auto;
        max-width: 196px;
        font-size: 22px;
        line-height: 27px;
        font-weight: 500;

    }

    .profile__subtitle {
        margin: 0 auto;
        padding: 0;
        display: block;
        padding-bottom: 36px;
        font-size: 14px;
        line-height: 17px;
        padding-top: 15px;
        align-self: baseline;
        max-width: 282px;

    }

    .editar {
        padding: 0px 6px;
        margin-left: 10px;

    }

    .acrescentar {
        max-width: 320px;
        margin-bottom: 36px;
        z-index: 0;

    }
}