.header {
    margin: 0 auto;
    padding: 0;
    max-width: 880px;
}

.header__title {
    margin: 0;
    padding: 0;
    max-width: 173px;
    margin-top: 45px;
}

.header__linha {
    margin: 0;
    padding: 0;
    margin-top: 41px;
    max-width: 880px;
    color: #545454;
}